.register_bg {
  background-color: #f9fafb;
  padding: 1rem;
}

.register_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  min-height: 100vh; /* Ensure it covers the whole viewport height */
  width: 100%;
  box-sizing: border-box; /* Makes sure padding doesn't add to the width */
}

.register_card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 650px; /* Adjust this value as needed */
  margin: auto; /* Centers the card vertically and horizontally */
  overflow: hidden; /* Ensures nothing spills out */
  display: flex;
  flex-direction: column;
}

.register_content {
  padding: 2rem; /* Increased padding for better spacing */
  overflow-y: auto; /* Allows scrolling if content overflows */
}

.register_heading {
  text-align: center;
  color: #1f2937;
  margin-bottom: 2rem; /* Increased margin for better spacing */
  font-size: 1.75rem;
  font-weight: bold;
}

.form_container {
  width: 100%; /* Ensures form takes up full card width */
}

/* Other styles remain unchanged */

.input_group {
  margin-bottom: 1rem; /* Adjust as needed for spacing */
  display: flex;
  flex-direction: column; /* Stack icons and input fields vertically */
}

.input_field,
.input_select,
.textarea_field {
  padding: 0.75rem;
  margin-top: 0.5rem; /* Adds a little space between icon and input */
  /* Other styles unchanged */
}

.input_icon {
  align-self: flex-start; /* Align icons to the start of the flex container */
  margin-bottom: 0.5rem; /* Adds space between icon and input field */
  /* Other styles unchanged */
}

.register_btn {
  margin-top: 2rem;
  width: 100%;
  align-self: center;
  background-color: rgb(91, 176, 242);
  color: white;
  border-radius: 10px;
  border-color: rgb(94, 94, 211);
  padding: 1%;
  box-shadow: #1f2937;
  font-size: large;
  font-style: bold;
  text-align: center;
  font-family: Tahoma;

  /* Increased margin-top for spacing */
  /* Other styles unchanged */
}

.login_redirect {
  margin-top: 2rem; /* Increased margin for better spacing */
  /* Other styles unchanged */
}
