/* LoginPage.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10%;
}

.paper {
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 280px; /* Reduced from 300px */
  
  /* Add transparency to the background */
  background-color: rgba(255, 255, 255, 0.5);  /* You can adjust this to suit your design */
}

.formContainer {
  width: 90%;
}

.submitButton {
  margin-top: 32px; /* Adjust spacing as needed */
  margin-bottom: 32px; /* Adjust spacing as needed */
}

.linksContainer {
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
  width: 90%;
}

.link {
  text-decoration: none;
  color: #1976d2; /* Material-UI primary color */
  margin-top: 8px;
}
